<!doctype html>
<html lang="en">
<link rel="stylesheet" href="styles.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sent</title>
</head>
<body>
    <div class="basic">
        <p> Hello! Here we go again..</p>
    </div>
    <div calss="main_field">
        <p>Choose language:</p>
        <form action="/" id="send_code" method="post">
            {% for a in langs %}<p>
                    {{ a['name'] }}
                    <input type="radio" name="language" value={{ a['id'] }}>
            {% endfor %}</p>
            <input type="text" id="Code" rows = "25" width="500px" height="700px" name = "Code" placeholder="Enter your code here">
            <input type="text" name="in" placeholder="cin">
            <p><textarea name = "code_area" id="code_area" cols="70" rows="25"></textarea></p>
            <input type="submit" class="butt" id="butt" value="Send for check">
        </form>
    </div>
    <div class="response">
        {{ rets }}
    </div>
</body>
{{ amount }}
</html>